body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/backroung.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.img1{

    width: 200px;
    height: 200px;
}
.button{
    background-color: Transparent;
    border: none
}
/* .row{
    height: 100vh;
} */
 .score{
    font-size: xx-large;
    font-weight: 600;
    font-c
 }
 
 h1{
    color: yellow;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    letter-spacing: 2px;
 }